:root {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--primary-color: #f8049c;
	--secondary-color: #fdd54f;
	--dark-color: #333;
	--light-color: #fff;
	--danger-color: #dc3545;
	--success-color: #28a745;
	--warning-color: #ffc107;
}



body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

/* Path: src/components/Navbar.js */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 5px #eaeaea;
}
.header_title {
	font-size: 1.5rem;
	font-weight: 700;
}

.header_nav {
}

.header_nav_list {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
}

.header_nav_list_item {
	list-style: none;
	text-decoration: none;
}