:root {
	--primary-color: #ffffff;
	--secondary-color: #fdd54f;
	--dark-color: #333;
	--light-color: #7a7a7a;
	--danger-color: #dc3545;
	--success-color: #28a745;
	--warning-color: #ffc107;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header-container {
	background-color: var(--primary-color);
	color: var(--light-color);
	padding: 1rem;
	text-align: center;
	
	display: flex;
	align-items: center;
}

.header-wrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header-logo {
	width: 50px;
	height: 50px;
}

.nav-list {
	list-style: none;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	flex: 1;
}

.nav-list a {
	text-decoration: none;
	color: var(--light-color);
}

.nav-list a:hover {
	color: var(--secondary-color);
}

.nav-list-items {
	display: flex;
	flex-direction: row;
}
.nav-list-item {
	padding: 0.5rem;
	list-style-type: none;
}

.user-settings {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.location-link {
	
}

.user-settings-btn {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	cursor: pointer;
}