:root {
	--primary-color: #f8049c;
	--secondary-color: #fdd54f;
	--dark-color: #333;
	--light-color: #fff;
	--danger-color: #dc3545;
	--success-color: #28a745;
	--warning-color: #ffc107;
}



body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header-container {
	background-color: var(--primary-color);
	color: var(--light-color);
	padding: 1rem;
	text-align: center;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-container h1 {
	font-size: 2.5rem;
}

.nav-container {
	background-color: var(--secondary-color);
	padding: 1rem;
	text-align: center;
}

.nav-container ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 1rem;
}
