// Dark theme
$Primary-color-dark: #9db4cd;
$Secondary-color-dark: #575742;
$Accent-color-dark: #cd9f35;

$Text-color-dark: #ffffff;
$Background-color-dark: #1f1f1f;

// Light theme
$Primary-color-light: #324962;
$Secondary-color-light: #bdbda8;
$Accent-color-light: #8dac4d;

$Text-color-light: #000000;
$Background-color-light: #e0e0e0;

// Mixins
@mixin font($size: 1rem, $weight: 400, $family: 'Roboto') {
	font-size: $size;
	font-weight: $weight;
	font-family: $family;
}
@mixin flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin grid($columns, $rows) {
    display: grid;
    grid-template-columns: #{$columns};
    grid-template-rows: #{$rows};
}

@mixin gridCard($backgroundImage) {
	background-image: url($backgroundImage);
	background-size: cover;
	background-position: center;
	border-radius: 1rem;
	box-shadow: #000000 0px 0px 15px;
}

@mixin flex-child($grow: 0, $shrink: 0, $basis: auto) {
	flex-grow: $grow;
	flex-shrink: $shrink;
	flex-basis: $basis;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 768px){
	
}


@media screen and (min-width: 1024px) {

	body {
		@include font(1rem, 400, 'Roboto');
		//@include flex(column, center, center);
		background-color: $Background-color-dark;
		background-image: url('./assets/bgContour.svg');
		color: $Text-color-dark;
	}
	
	.header-container {
		width: 100%;
		height: 10vh;
		padding: 4rem 2rem;
		background-color: $Background-color-dark;
		position: fixed;
		top: 0;
	
		.header-container__menu {
			@include flex(row, space-between, center);
			width: 100%;
			height: 100%;
			gap: 3rem;
		}
	}
	
	.logo-asset {
		scale: 1.7;
		margin: 0 2rem;
	}
	.header-container .header-container__menu ul {
		width: 100%;
		height: 100%;
		padding: 1rem 2rem;
		gap: 3rem;
	
		li {
			@include font(1.2rem, 400, 'Roboto');
			list-style: none;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
	
			&:hover {
				color: $Accent-color-dark;
			}
		}
	}
	
	.menu-left-wrapper {
		@include flex(row, flex-end, center);
	}
	.menu-right-wrapper {
		@include flex(row, flex-start, center);
		
	}
	
	.main-container {
		@include flex(column, center, center);
		width: 100%;
		//height: 800rem;
		//padding: 2rem 8rem;
		//background-image: url('./assets/hero-bg.jpg');
		
		#hero-section {
			@include flex(row, left, center);
			flex: auto;
			width: 100%;
			height: 50rem;
			gap: 1rem;
			padding: 2rem 8rem;
		
			background-image: linear-gradient(280deg,
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 1)
			),
			url('./assets/hero-bg.jpg');
			background-size: cover;
			background-position: center;
	
			.hero-container {
				margin-top: 4rem;
			}
			.hero-container .hero-headline {
				@include font(2.8rem, 700, 'Roboto');
				color: $Text-color-dark;
				border: none;
			}
	
			.hero-container .hero-button-container {
				@include flex(row, left, center);
				margin-top: 1rem;
				gap: .4rem;
				.material-symbols-outlined {
				font-variation-settings:
					'FILL' 1,
					'wght' 400,
					'GRAD' 0,
					'opsz' 24
				}
				.hero-button {
					@include font(1rem, 400, 'Roboto');
					@include flex(row, center, center);
					width: 12rem;
					height: 2rem;
					padding: .2rem .2rem;
					border-radius: 1.5rem;
					border: none;
					background-color: $Accent-color-dark;
					color: $Text-color-dark;
					cursor: pointer;
					transition: all 0.3s ease-in-out;
	
					&:hover {
						background-color: $Accent-color-light;
						color: $Text-color-light;
					}
				}
			}
		}
	
		#craft-section {
			@include flex(column, center, center);
			width: 100%;
			height: 40rem;
			padding: 2rem 4rem;
	
			.craft-container {
				@include grid('repeat(4, 1fr)', 'repeat(4, 1fr)');
				width: 100%;
				height: 100%;
				gap: 1rem;
	
				.div1 { 
					@include gridCard('./assets/img/coffee-pour.jpg');
					grid-area: 1 / 1 / 4 / 3;
				 }
				.div2 {
					@include flex(column, center, center);
					border-radius: 1rem;
					//box-shadow: #000000 0px 0px 15px;
					grid-area: 4 / 1 / 5 / 3;
					text-align: center;
					background-color: $Background-color-dark;
					color: $Text-color-dark;
				
					.craft-headline {
						@include font(1.4rem, 700, 'Roboto');
						flex: 1;
						text-align: center;
						border: none;
						color: $Text-color-dark;
					}
				}
				.div3 { 
					@include gridCard('./assets/img/pexels-dammián-sinué-5213757.jpg');
					grid-area: 1 / 3 / 3 / 5; 
				}
				.div4 { 
					@include gridCard('./assets/img/pexels-kei-scampa-7736771.jpg');
					grid-area: 3 / 4 / 5 / 5; 
				}
				.div5 { 
					@include gridCard('./assets/img/pexels-chevanon-photography-333523.jpg');
					grid-area: 3 / 3 / 5 / 4;
				 } 
			}
		}
	
		#location-hours-section {
			@include flex(row, center, center);
			width: 100%;
			height: 40rem;
	
			.location-hours-container {
				@include flex(row, center, center);
				padding: 2rem 8rem;
				gap: 4rem;
	
				.location {
					@include flex(column, center, center);
					gap: 1rem;
	
					.location-box {
						border-radius: 1rem;
						box-shadow: #000000 0px 0px 15px;
						background-color: #ffffff;
						width: 40rem;
						height: 26rem;
						
					}
					.location-content {
						@include font(2rem, 500, 'Roboto');
					}
				}
	
				.hours {
					@include flex(column, center, center);
					gap: 1rem;
	
					.hours-headline {
						@include font(2rem, 500, 'Roboto');
						text-decoration: underline
					}
					.hours-container {
						@include flex(row, center, center);
	
						.hours-day {
							padding: 1rem 2rem;
	
							.location-hours-content {
								@include font(1.5rem, 400, 'Roboto');
							}
						}
	
						.hours-time {
							padding: 1rem 2rem;
	
							.location-hours-content {
								@include font(1.5rem, 400, 'Roboto');
							}
						}
					}
				}
			}
		}
	}

	#footer-section {
		@include flex(column, center, center);
		width: 100%;
		height: 8rem;
		
		.footer-container {
			@include flex(column, center, center);

			.footer-headline {
				@include font(1rem, 300, 'Roboto');
			}

			.footer-line {
				margin: 1rem 0;
				width: 20%;
				height: 1px;
				background-color: $Text-color-dark;
			}

			.footer-content {
				@include font(1rem, 300, 'Roboto');

				.linkedin-link {
					
					text-decoration: none;
					color: $Accent-color-dark;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: $Accent-color-light;
					}
				}
			}
		}
	}
}